#header {
  background-position: center;
  font-stretch: expanded;
  height: 125px;
  text-align: center;
}

#info {
  display: hide;
}

#header_div {

}

#user_info_div {

}

#edit {
  display: inline;
}

#container {
  display: flex;
}

#toolBox {
  display: none;
  width: 250;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2;
}

#canvas {
  height:500;
  border-width:2px;
  border-style:solid;
  border-color:black;
  flex-grow: 1;
}

#space {
  width:4;
}

.select {
  margin: 5;
  text-align:center;
}

#select_category {
  align-self: center;
}
