#header {
  background-position: center;
  font-stretch: expanded;
  height: 125px;
  text-align: center;
}

#info {
  display: none;
}

#header_div {

}

#user_info_div {

}

#edit {
  display: inline;
}

#container {
  display: flex;
}

#toolBox {
  display: none;
  width: 250;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2;
}

#canvas {
  height:500;
  border-width:2px;
  border-style:solid;
  border-color:black;
  flex-grow: 1;
  overflow: scroll;
}

#informationDiv {
  height: 500;
  border-width:2px;
  border-style: solid;
  border-color: black;
  flex-grow: 1;
  overflow: scroll;
}

#space {
  width:4;
}

.select {
  margin: 5;
  text-align:center;
}

#select_category {
  align-self: center;
}

thead.header tr {
  width: 100%;
}

thead.header th {
	background: #FF8300;
  color: white;
	border-left: 1px solid;
	border-right: 1px solid;
	border-top: 1px solid;
	padding: 4px 3px;
}

div.canvas {
	clear: both;
	border: 1px solid;
	height: 285px;
	overflow-y: auto;
	width: 100%
}


div.canvas table {
	float: left;
	width: 100%;
}
