#header {
  background-position: center;
  background-image: url("static/css/sltc.jpg");
  background-color: rgba(255,255,255,0.6);
  font-stretch: expanded;
  height: 275px;
  background-blend-mode: color-dodge;
}

#adminLogin {
  padding: 5;
}

textarea {
  border-radius: 4px;
}

h1 {
  margin-left: 20px;
  text-align: center;
  padding-top: 120px
}

.infoBoxes {
  padding: 10;
  margin-left: 20px;
  text-align: center;
}

.ib {
  padding: 3;
  margin: 5;
  border-radius: 4px;
  width: 350;
  height: 35px;
}

.ibn {
  padding: 3;
  margin: 5;
  border-radius: 4px;
  width: 168;
  height: 35px;
}
