.objects {
  display: inline-grid;
  position: absolute;
  border: #DFBC6A 1px solid;
  width: 50px;
  height: 50px;
  text-align:center;
  cursor: move;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
}

#header {
  background-position: center;
  font-stretch: expanded;
  height: 125px;
  text-align: center;
}

#container {
  display: flex;
}

#toolBox {
  width: 250;
  border-width:2px;
  border-style:solid;
  border-color:black;
  padding:2;
}

#canvas {
  height:500;
  border-width:2px;
  border-style:solid;
  border-color:black;
  flex-grow: 1;
}

#space {
  width:4;
}

.select {
  margin: 5;
  text-align:center;
}

#select_category {
  align-self: center;
}

#select_furniture {
  align-self: center;
  display: hide;
}
