.brown {
  position: relative;
  text-overflow: ellipsis;
  width: 79%;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
  text-align: center;
}

.grey {
  position: relative;
  text-overflow: ellipsis;
  width: 100px;
  background: rgba(255,255,255,0.66);
  border: 2px  solid rgba(0,0,0,0.5);
  border-radius: 4px; padding: 8px;
  text-align: center;
}

.round {
  text-align: center;
  text-overflow: ellipsis;
  position: relative;
  border-radius: 50%;
  background: rgba(255,255,255,0.66);
  behavior: url(PIE.htc);
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid rgba(0,0,0,0.5);
}

.staging {
  text-align: center;
  text-overflow: ellipsis;
  position: relative;
  border: 2px solid rgba(0,0,0,0.5);
  width: 70px;
  height: 90px;
  line-height: 90px;
}
.staging-with-skirt {
  text-align: center;
  text-overflow: ellipsis;
  position: relative;
  border: 2px solid rgba(0,0,0,0.5);
  width: 70px;
  height: 90px;
  line-height: 90px;
}

.draggable {
  position: absolute;
  width: 90px;
  height: 90px;
  padding: 0.5em;
  float: left;
  margin: 10px 10px 10px 0;
}

ul {
  list-style-type: none;
}

#deleteContentsButton {
  margin: 3;
}

#dropzone {
  overflow: scroll;
  height:auto;
  width:60%;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

#header {
  background-position: center;
  font-stretch: expanded;
  height: 100;
  text-align: center;
}

#containment {
  display:flex;
  overflow: scroll;
  position: relative;
  width:auto;
  height:80%;
}

#tipBar {
  align-content: center;
  overflow: scroll;
  position: relative;
  width: 18%;
  height: auto;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

#toolBox {
  align-content: center;
  overflow: scroll;
  width: 18%;
  height: auto;
  border-width:2px;
  border-style:solid;
  border-color:black;
}

.select {
  margin: 3;
  text-align:center;
}

#select_category {
  align-self: center;
}

#select_furniture {
  align-self: center;
  display: hide;
}
