<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <head>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.4.0/fullcalendar.min.js"></script>
  </head>
  <body>
      <div class="container">
        <h2>Schedule Calendar</h2>
        <div id="fullCal"></div>
      </div>
      <div id="canvas">
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
    var createdEvents = {};
    var eventNameandTime = {};
    {% for user in users %}
    createdEvents["{{ user[0] }}" + "{{ user[1] }}"] = {title: "{{ user[4] }}", room: "{{ user[8] }}", start: "{{ user[5] }}", end: "{{ user[5] }}", firstName: "{{ user[0] }}", lastName: "{{ user[1]}}", phone: "{{ user[2] }}", email: "{{ user[3] }}", startTime: "{{ user[6] }}", endTime: "{{ user[7] }}", comments: "{{ user[9] }}"}
    {% endfor %}
    console.log(Object.values(createdEvents));
    for (i = 0; i < Object.keys(createdEvents); i++) {
      eventNameandTime.push(createdEvents[i]);
    }
    var calendar = $('#fullCal').fullCalendar({
    events: Object.values(createdEvents),
    eventClick:  function(event, jsEvent, view) {
        // display event information as an alert
        alert(event.title + "\n" + "Name: " + event.firstName + " " + event.lastName + "\n" + "Start time: " + event.startTime + "\n" + "End time: " + event.endTime + "\n" + "Room: " + event.room + "\n");
    }
    });
  });
  </script>
  <script>
    function show_outline() {
      alert("Still under development.")
    }
  </script>
</html>
