<html>
<head>
  <meta charset='utf-8'/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><br><br>
</head>
<body>
  <div id=information>
    <form class=infoBoxes>
      <input class=ibn type="text" placeholder="First name" />
      <input class=ibn type="text" placeholder="Last name"  /> <br />
      <input class=ib type="tel" placeholder="Phone number"  /> <br />
      <input class=ib type="email" placeholder="Email" /> <br />
      <input class=ib type="date"  /> <br />
      <select class=ib name="rooms">
        <option>Select a Room</option>
        <option value="Burrow">Burrow</option>
        <option value="Worsham">Worsham</option>
        <option value="Worsham North">Worsham North</option>
        <option value="Worsham South">Worsham South</option>
        <option value="Campbell">Campbell</option>
        <option value="Campbell North">Campbell North</option>
        <option value="Campbell South">Campbell South</option>
        <option value="East Lobby">East Lobby</option>
        <option value="Tech Cluster 1">Tech Cluster 1</option>
        <option value="Tech Cluster 2">Tech Cluster 2</option>
        <option value="Tech Cluster 3">Tech Cluster 3</option>
        <option value="Tech Cluster 4">Tech Cluster 4</option>
        <option value="Tech Cluster 5">Tech Cluster 5</option>
        <option value="Tech Cluster 6">Tech Cluster 6</option>
        <option value="Tech Cluster 7">Tech Cluster 7</option>
      </select>
</html>
