<html>
<head>
  <div id="header" style="background-image:url('static/css/sltc.jpg');">
    <h1>Fill out the information below to begin.</h1>
    <meta charset='utf-8'/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main_page.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"><br><br>
  </div>
</head>
<body>
  <div id="information">
    <form class=infoBoxes action = "{{ url_for('new_user') }}" method = "POST">
      <input class=ibn type="text" name="firstname" placeholder="First name" required="required" />
      <input class=ibn type="text" name="lastname" placeholder="Last name" required="required" /> <br />
      <input class=ibn type="tel" name="phone" placeholder="Phone number" required="required" />
      <input class=ibn type="email" name="email" placeholder="Email" required="required" /> <br />
      <input class=ib type="text" name="event" placeholder="Name of event" required="required" /> <br />
      <span title="the month, day, and year of your event">Date of event</span> <br />
      <input class=ib type="date" name="date" required="required" /> <br />
      <span title="the time the setup needs to be ready">Setup time/</span><span title="the time the setup needs to be torn down">Teardown time</span> <br />
      <input class=ibn type="time" name="start_time" placebolder="Start time" required="required" />
      <input class=ibn type="time" name="end_time" placeholder="End time"  required="required" /> <br />
      <select class=ib name="rooms" required="required">
        <option>Select a Room</option>
        <option value="Burrow">Burrow</option>
        <option value="Worsham">Worsham</option>
        <option value="Worsham North">Worsham North</option>
        <option value="Worsham South">Worsham South</option>
        <option value="Campbell">Campbell</option>
        <option value="Campbell North">Campbell North</option>
        <option value="Campbell South">Campbell South</option>
        <option value="East Lobby">East Lobby</option>
        <option value="Tech Cluster 1">Tech Cluster 1</option>
        <option value="Tech Cluster 2">Tech Cluster 2</option>
        <option value="Tech Cluster 3">Tech Cluster 3</option>
        <option value="Tech Cluster 4">Tech Cluster 4</option>
        <option value="Tech Cluster 5">Tech Cluster 5</option>
        <option value="Tech Cluster 6">Tech Cluster 6</option>
        <option value="Tech Cluster 7">Tech Cluster 7</option>
      </select><br />
      <textarea placeholder="Additional comments" name="comments" rows=4 cols=47 padding=3></textarea> <br />
      <input type="submit" value="Submit" />
    </form>
    <hr />
    <div id="adminLogin">
      <h3>Admin login</h3>
      <form>
        <input id="password" type="password" />
        <input id="adminSubmit" type="submit" value="Submit" onclick="validate()"/>
      </form>
    </div>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ url_for('static', filename='mainPage.js') }}"></script>
</body>
</html>
